---
layout: default
title: Lingxiao Li
---
<div class="body-wrapper">
  <div class="sidebar">
    <div class="sidebar-sticky">
      <div class="sidebar-about">
        <div class="photo">
          <img id="myself-pic" src="assets/img/self3.jpg">
        </div>
        <h1 id="myself-name">
          Lingxiao Li
        </h1>
        <div class="affiliation">
          <p>
            Research Scientist @ Netflix
          </p>
        </div>
        <div class="contact">
          <p>
          <a href="mailto:lingxiaol@netflix.com"><i class="fas fa-envelope"></i> lingxiaol@netflix.com</a>
          </p>
          <p>
          <a href="https://github.com/lingxiaoli94"><i class="fab fa-github"></i> Github</a>
          </p>
          <p>
          <a href="assets/cv.pdf">Curriculum Vitae</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="intro">
      {% capture intro_content %}{% include intro.md %}{% endcapture %}
      {{ intro_content | markdownify }}
    </div>
    <div class="research">
      <h2>Publications</h2>
      {% assign papers_sorted = site.papers | sort: 'date' | reverse %}
      {% for paper in papers_sorted %}
        <div class="paper-entry">
          <div class="paper-description">
            <p class="paper-title">{{ paper.title }}<p>
            <p class="paper-content">{{ paper.content | markdownify }}</p>
          </div>
          <div class="paper-thumbnail">
            <img src="assets/img/{{ paper.thumbnail }}">
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>
